@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  background-color: #3d0d58;
}

form {
  max-width: 550px;
  margin: 0px auto;
  color: aliceblue;
  padding: 30px 0px;
}

.form__title {
  font-size: 40px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}

.form__item {
  margin: 0px 0px 20px 0px;
}

.form__label {
  font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}

.form__input {
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px greenyellow;
          box-shadow: 0 0 15px greenyellow;
}

.form__icon_name {
  position: relative;
}

.form__icon_name::before {
  content: "@";
  color: black;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 10px;
  top: 20px;
}

.form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #0a5f35;
  padding: 0px 20px;
  min-height: 60px;
  cursor: pointer;
  color: beige;
  -webkit-box-shadow: 0 5px 0 #063d21;
          box-shadow: 0 5px 0 #063d21;
}

.form__button:hover {
  background-color: #074124;
}

textarea {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
  line-height: 40px;
}

textarea:focus {
  background-color: aliceblue;
}

.options {
  padding: 10px 0px 0px 0px;
}

.options__items {
  margin: 0px 0px 10px 0px;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.options__label {
  font-size: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.options__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #ecdfea;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.options__label:after {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #3d1b3d;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #0a5f35;
  -webkit-box-shadow: 0 5px #074124;
          box-shadow: 0 5px #074124;
  padding: 0px 20px;
}

.file__button:hover {
  background-color: #074124;
}

.file__preview {
  display: inline-block;
  max-width: 100px;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #ecdfea;
  margin: 0px 10px 0px 0px;
}

.checkbox__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #3d1b3d;
  -webkit-transform: scale(0);
          transform: scale(0);
}
